body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
  font-size: 1rem;
}

.MuiSelect-select.MuiSelect-select {
  background-color: transparent !important;
  padding-left: 15px;
}

.MuiSelect-select:focus {
  background-color: transparent !important;
  padding-left: 15px;
}

.m-15 {
  margin: 15px;
}
.p-15 {
  padding: 15px;
}
.p-30 {
  padding: 30px;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-100 {
  width: 100%;
}
@media (max-width: 600px) {
  #root {
    height: unset !important;
  }
}

.MuiAppBar-colorPrimary {
  color: #3f51b5 !important; 
}

@media (max-width: 2000px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 1280px) {
  h1 {
    font-size: 5.35rem;
  }
  h2 {
    font-size: 3.33rem;
  }
  h3 {
    font-size: 2.78rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.25rem;
  }
}


@media (max-width: 960px) {
  h1 {
    font-size: 4.7rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  h6 {
    font-size: 1.25rem;
  }
}
